<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Categories of the Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Book Categories</h1>
	
	<table class="table table-striped">
	
		<tr>
			<th>Category</th>
		
		</tr>

		<tr th:each="category : ${categories}">
			<td th:text="${category.name}">Category</td>
		
			
		</tr>
	</table>
	
	 <a class="btn btn-success" href="/addcategory" >Add Category</a> 
	

</body>
</html>